@import "./styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-orbikt);
  background-color: var(--color-bg-main);
  color: #0f172a;
}
